.p-post {
    margin-top: 30px;
    margin-left: 34%;
    margin-right: 34%;
    background: #F1F1F1;
    border: 1px solid;
    border-color: #D4BABA;
    border-radius: 6px;
    padding-top: 10px;
    color: #626262;
  }