.p-posts {
  display: flex;
  padding-top: 10px;
}

.p-IMG {
  margin-right: 1vw;
  width: 20vw;
  height: 20vw;
  background: url("../../../img/post.jpg");
  background-size: 20vw;
}

.p-legenda {
  padding: 10px;
  display: none;  
  max-width: 20vw;
  max-height: 5vw;
  font-size: 14px;
  display: inline-block; 
  text-align: justify;
  display: inline-block; 
  text-align: justify;
  opacity: 0;
  transition: 900ms;
}

.p-IMG:hover > .p-legenda{
  color:#fff;
  opacity: 1;
}

.p-space{
  height: 14vw;
}

