.S-Container {
    display: flex;
    flex-direction: column;
}

.Logo {
    padding-left: 10px;
    width: 40%;
    height: 100%;
}

.s-photo {
    margin-top: 3vh;
    margin-left: 3vh;
    width: 30vh;
}

.S-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.LogoIcon {
    width: 30vh; 
}

.S-i-container {
    display: flex;
    justify-content: center;
}

.S-i-container {
    position: relative;

}

.S-Informacoes {
    border-radius: 79px;
    width: 79%;
    height: 80vh;
    background-color: #dbb670;
        
}

.inputs {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.inputs input{
    background-color: white;
    border: none;
    align-items: center;
    color: black;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    width: 45vh;    
    height: 5vh;
    margin-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.i-columns {
    display: flex;
    flex-direction: column;
}

.BTN-C {
    width: 79%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

.BTN-C button{
    width: 100%;
    background-color: #ca9431; 
    border: none;
    align-items: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 78px;
    height: 17vh;
    transition: transform .2s;
}

.BTN-C button:hover{
    background-color: #8d6823;
    transform: scale(1.1);
}
